.nav-link{
    /*font-family: 'Big Shoulders Stencil Display', cursive;*/
    /*font-family: 'Satisfy', cursive;*/
    font-family: 'Train One', cursive;
    /*font-family: 'Viaoda Libre', cursive;*/
    font-size: x-large;
    color: rgb(204, 38, 245);

}
.container{
    width: 100%;
    position:relative;
    box-sizing: border-box;
}
.input-group{
    font-family: 'Train One', cursive;

}
.table-responsive{
    margin-left: 115px;
    margin-right: 115px;
    border: none!important;
}
h1{
    font-family:'Viaoda Libre', cursive;
    color: rgba(92, 46, 92, 0.76);
    font-size: 14px;
}
.align-top {
    font-family: 'Train One', cursive;
    color: rgba(41, 177, 213, 0.71);
    font-size: 14px;
    border: none!important;
}
.align-bottom{

    /*font-family:'Viaoda Libre', cursive;*/
    /*color: rgba(92, 46, 92, 0.76);*/
    /*font-size: 14px;*/
    border: none !important;
    max-width: 300px;
}
.form-group{
    margin-left: 215px;
    margin-right: 215px;
    width: auto;
}
.small-icons{
    font-family: 'Train One', cursive;
    color: rgba(204, 38, 245, 0.53);
    text-decoration: none;
}
.material-icons-outlined{
    color: rgba(204, 38, 245, 0.53);
}
/*table search*/
.pull-left{
    width: 200px;
    font-family:'Viaoda Libre', cursive;
    float: none !important;
    height: 10px;
}
p{
    max-width: 100%;
}