<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:insert="fragments/head :: nav"></div>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr><h1>Product Overview > Basket</h1></tr>
        <tr>
            <th class="align-top">Type</th>
            <th class="align-top">Title</th>
            <th class="align-top">Quantity</th>
            <th class="align-top">Edit/Delete</th>
            <th class="align-top">Unit Price</th>
            <th class="align-top">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${allOrders}">
            <td class="align-bottom" th:text="${order.getTitle()}"></td>
            <td class="align-bottom" th:text="${order.getQuantity()}"></td>
            <td class="align-bottom">
                <!--                <a class=" small-icons
                        " th:href="@{}"><span class="material-icons">edit</span>Edit</a>-->
                <!--                <a class="small-icons" th:href=""><span class="material-icons">delete</span>Delete</a>-->
            </td>
            <td class="align-bottom" th:text="${#numbers.formatCurrency(order.getPrice())}"></td>
            <td class="align-bottom" th:text="${order.getTotalPrice}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments/head :: footer"></div>

</body>
</html>