<!DOCTYPE html>
<html lang="en-IE" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:insert="fragments/head :: nav"></div>

<div class="table-responsive">
    <h1><a class="head1" th:href="@{/productoverview}">Product Overview</a> > Books</h1>
    <div class="align-bottom">
        <p><span scope="col"><a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{addFiction}"><span class="material-icons">menu_book</span> Add A New Fiction Book</a></span>
        <span scope="col"><a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{addNonFiction}"><span class="material-icons">menu_book</span>Add A New Non-Fiction Book</a></span></p>
    </div>
    <table
            class="table align-middle"
            id="table"
            data-search="true"
            data-search-align="left"
            data-show-columns="true"
            data-show-multi-sort="true"
            data-show-multi-sort-button="false"
    >
        <thead>
          <tr>
            <th class="align-top" data-field="type" data-sortable="true">Type</th>
            <th class="align-top" data-field="title" data-sortable="true">Title</th>
            <th class="align-top" data-field="author" data-sortable="true">Author</th>
            <th class="align-top" data-field="price" data-sortable="true">Price</th>
            <th class="align-top" data-field="genre" data-sortable="true">Genre</th>
<!--            <th class="align-top">Subject</th>-->
            <th class="align-top">BarCode</th>
            <th class="align-top" data-field="numberOfPages" data-sortable="true">Pages</th>
            <th class="align-top">Summary</th>
            <th class="align-top">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="books:${allNonFictbooks}">
            <td class="align-bottom" th:text="${books.getType()}"></td>
            <td class="align-bottom" th:text="${books.getTitle()}"></td>
            <td class="align-bottom" th:text="${books.getAuthor()}"></td>
            <td class="align-bottom" th:text="${#numbers.formatCurrency(books.getPrice())}"></td>
<!--            <td></td>-->
            <td class="align-bottom" th:text="${books.getSubject()}"></td>
<!--            <td th:each="books:*{books.getType()}" th:with="Fiction =${#books.get(")}" th:text="${books "></td>-->
<!--            <td th:if="${books.type == 'Fiction'} in" th:text="${books "></td>-->
            <td class="align-bottom" th:text="${books.getIsbn()}"></td>
            <td class="align-bottom" th:text="${books.getNumberOfPages()}"></td>
            <td></td>
            <td>
                <a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{editNonFiction/{id}(id=${books.getId()})}"><span class="material-icons">edit</span>Edit</a>
                <a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{deleteNonFiction/{id}(id=${books.getId()})}"><span class="material-icons">delete</span>Delete</a>
                <a class="small-icons" ><span class="material-icons">shopping_basket</span>Add</a>
            </td>
        </tr>
        <tr th:each="books:${allFictbooks}">
            <td class="align-bottom" th:text="${books.getType()}"></td>
            <td class="align-bottom" th:text="${books.getTitle()}"></td>
            <td class="align-bottom" th:text="${books.getAuthor()}"></td>
            <td class="align-bottom" th:text="${#numbers.formatCurrency(books.getPrice())}"></td>
            <td class="align-bottom" th:text="${books.getBookGenre()}"></td>
<!--            <td></td>-->
            <td class="align-bottom" th:text="${books.getIsbn()}"></td>
            <td class="align-bottom" th:text="${books.getNumberOfPages()}"></td>
            <td class="align-bottom" th:text="${books.getSummary()}"></td>
            <td>
                <a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{editFiction/{id}(id=${books.getId()})}"><span class="material-icons">edit</span>Edit</a>
                <a class="small-icons" th:if="${session.loggedInUser.isAdmin()}" th:href="@{deleteFiction/{id}(id=${books.getId()})}"><span class="material-icons">delete</span>Delete</a>
                <a class="small-icons" th:if="${session.loggedInUser}"><span class="material-icons">shopping_basket</span>Add</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments/head :: footer"></div>

</body>

<script>
    $(function() {
        $('#table').bootstrapTable()})
</script>

</html>