<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:insert="fragments/head :: nav"></div>

<div class="table-responsive">
  <table class="table align-middle table-hover">
    <thead>
    <tr><h1>Product Overview > Games</h1>
    </thead>
    <tbody>
    <tr class="align-bottom">
        <th scope="col"><a th:href="@{addGame}"><span class="material-icons">add</span></a></th>

    </tr>
    <tr>
<!--      <td class="align-top">Type</td>-->
      <th class="align-top">Title</th>
      <th class="align-top">Publisher</th>
      <th class="align-top">Price</th>
      <th class="align-top">Genre</th>
      <th class="align-top">Age Rating</th>
    </tr>
    <tr th:each="games:${allGames}">
<!--      <td th:text="${games.getType()}"></td>-->
      <td th:text="${games.getTitle()}"></td>
      <td th:text="${games.getPublisher()}"></td>
      <td th:text="${games.getPrice()}"></td>
      <td th:text="${games.getGameGenre()}"></td>
      <td th:text="${games.getMinAge()}"></td>
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>