<!DOCTYPE html>
<html lang="en-IE" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<div th:insert="fragments/head :: nav"></div>


<div class="table-responsive">
    <h1>Product Overview</h1>
    <div class="align-middle">
<!--        <p>-->
<!--            <span scope="col"><a class="small-icons" th:href="@{addFiction}"><span-->
<!--                    class="material-icons">menu_book</span> Add A New Fiction Book</a></span>-->
<!--            <span scope="col"><a class="small-icons" th:href="@{addNonFiction}"><span-->
<!--                    class="material-icons">menu_book</span>Add A New Non-Fiction Book</a></span>-->
<!--            <span scope="col"><a class="small-icons" th:href="@{addLp}"><span-->
<!--                    class="material-icons">album</span>Add A New Record</a></span>-->
<!--            <span scope="col"><a class="small-icons" th:href="@{addGame}"><span-->
<!--                    class="material-icons">sports_esports</span>Add A New Game</a></span>-->
<!--        </p>-->
    </div>
    <table
            class="table align-middle table-hover"
            id="table"
            data-search="true"
            data-search-align="left"
            data-show-columns="true"
            data-show-multi-sort="true"
            data-show-multi-sort-button="false"
        >
        <thead>
        <tr>

            <th class="align-top" data-field="title" data-sortable="true">Title</th>
            <th class="align-top" data-field="price" data-sortable="true">Price</th>
            <th class="align-top" data-field="type" data-sortable="true">Type</th>
            <th class="align-top" th:if="${session.loggedInUser}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article:${allArticles}">
            <td class="align-bottom" th:text="${article.getTitle()}"></td>
            <td class="align-bottom" th:text="${#numbers.formatCurrency(article.getPrice())}"></td>
            <td class="align-bottom" th:if="${article instanceof T(com.vdab.mediashop.domain.Game)}" th:text="Game">
            <td class="align-bottom" th:if="${article instanceof T(com.vdab.mediashop.domain.LP)}" th:text="LP"></td>
            <td class="align-bottom" th:if="${article instanceof T(com.vdab.mediashop.domain.Book)}" th:text="${article.getType()}"></td>
            <td><a class="small-icons" th:if="${session.loggedInUser}" th:object="${orderedGame}" th:href="@{/addToBasket}"><span class="material-icons">shopping_basket</span>Add</a></td>

        </tr>

        </tbody>
    </table>
</div>


<div th:insert="fragments/head :: footer"></div>

</body>
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>
</html>